apiVersion: v1
kind: Namespace
metadata:
  name: njord
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: njordvolume
  namespace: njord
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: linode-block-storage-retain