[Unit]
Description=Njord - NMEA0183 Over TCP

[Service]
ExecStart=njord_exec.sh
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=njord
Group=dialout

[Install]
WantedBy=default.target
