.App {
  background-color: white;
  color: black;
  min-height: 100vh;
}

.Center {
  horiz-align: center;
  justify-content: center;
  display: flex;
}

.Header {
  padding: 28px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-size: x-large;
}

.Warning {
    padding: 16px;
}

.Content {
  padding: 28px;
}
