.App {
  background-color: #000;
  color: white;
  min-height: 100vh;
}

.App.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  color: white;
}
